.main{
    display : grid;
    grid-template-columns: auto auto;
    
}
.image{
    padding-left:10px;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    /* padding-bottom:30px; */
    margin-bottom: 20px;
}
.like_img{
    color: red;
   padding-top: 50%;
   font-size: 20px;
}
.container{
    height: 400px;
}
.img-size{
    
        margin: 0;
        height: 300px;
        width: 460px;
        background-size: cover;
        overflow: hidden;
    }
    