.main{
    display : grid;
    grid-template-columns: auto auto;
    
}
.image{
    padding-left:10px;
    height: 200px;
    width: 300px;
    border-radius: 50%;
    /* padding-bottom:30px; */
    margin-bottom: 20px;
}
.like_img{
    color: red;
   padding-top: 50%;
   font-size: 20px;
}
.container{
    height: 400px;
}
.img-size{
    
        margin: 0;
        height: 300px;
        width: 460px;
        background-size: cover;
        overflow: hidden;
    }
    .form {
        margin-bottom: 30px;
    
    }
    .submit{
        margin-top: 10px;
    position: relative;
    left: 52%;
    font-size: 25px;
    top: -55px;
    }
    .select{
        width: 50%;
    background-color: #20d0dd;
    font-size: 20px;
    }
    .label{
        font-size: 30px;
    padding-bottom: 10px;

    }